body{
  font-family: Arial, Helvetica, sans-serif;
}

#allDays{
  display: flex;
  flex-wrap: wrap;
}

#all-entries{
  background: darkgray;
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 40px;
}

div{
  border: 3px solid rgb(182, 179, 179);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  width: 300px;
  height: 200px;
  overflow: auto;
  box-shadow: gray 2px;
}

h2{
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}

ul li{
  list-style: none;
  margin: 1em;
}

nav{
  display: flex;
  justify-content: center;
}

ul{
  display: flex;
  justify-items: center;
  padding: 0;
}

li a {
  color: black;
  text-decoration: none;
}