body{
  background: rgb(241, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  margin: 1em;
}

body img {
  position: fixed;
  z-index: -2;
}

#background-layer{
  position: absolute;
  z-index: -1;
  background-color: white;
  opacity: 0.3;
  height: 78%;
  width: 80%;
  margin-left: 10%;
}

form{
  margin-top: 10em;
  position: absolute;
  top: 0;
}

a{
  text-decoration: none;
  color: rgb(43, 42, 42);
}

label, input, button{
  display: block;
  margin-left: 10em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

legend{
  margin-left: 10em;
  margin-bottom: 2em;
  font-size: 1.1em;
}

ul li{
  list-style: none;
  margin: 1em;
}

ul{
  display: flex;
  justify-items: flex-start;
}

h1{
  position: absolute;
  top: 6em;
  left: 15em;
  font-size: 3em;
}

@media(max-width:570px){

  nav li a{
    color: black;
  }

  form{
    border: 2px solid black;
    padding: 1em;
    margin-top: 2em;
    margin: auto;
    width: 80%;
    position: relative;
  }

  input, label, button, legend{
    margin-left: 1em;
  }

  legend{
    font-size: 1.1em;
    font-weight: bold;
  }

  #background-layer{
    width: 100%;
    height: 100%;
    opacity: .7;
    margin-left: 0;
    margin-top: -6em; 
  }
}